@import "mobile-angular-ui/src/less/mobile-angular-ui.less";
@import "mixins.less";
@import "variables.less";



/* CSS used here will be applied after bootstrap.css */
.row > div {border:10px solid white}
.B {background:blue; height:200px}
.tile {
  display: flex;
  margin: 5px;
  flex-grow: 1;
  background:green; height:100px
}
.O {background:orange; height:100px}