<section class="section container-fluid">
  <h1 class="page-header">Select Your Hackathon</h1>

  <a href="#home">
    <div class="tile">
      <div class="tile-title">
        <h1 class="panel-title">
          San Francisco
        </h4>
      </div>
    </div>
  </a>

  <a href="#">
    <div class="tile">
      <div class="tile-title">
        <h1 class="panel-title">
          Los Angeles
        </h4>
      </div>
    </div>
  </a>

  <a href="#">
    <div class="tile">
      <div class="tile-title">
        <h1 class="panel-title">
          New York City
        </h4>
      </div>
    </div>
  </a>
</section>
