<section class="section container-fluid">
  <div class="scrollable">
    <div class="scrollable-content section">
      <legend>Select Your Hackathon</legend>

      <a href="#home">
        <div class="tile">
          <div class="tile-title">
            <h1 class="panel-title">
              San Francisco
            </h4>
          </div>
        </div>
      </a>

      <a href="#">
        <div class="tile">
          <div class="tile-title">
            <h1 class="panel-title">
              Los Angeles
            </h4>
          </div>
        </div>
      </a>

      <a href="#">
        <div class="tile">
          <div class="tile-title">
            <h1 class="panel-title">
              New York City
            </h4>
          </div>
        </div>
      </a>
    </div>
  </div>
</section>
