<section class="section container-fluid">
  <h1 class="page-header">See all pitches here</h1>

  <div class="panel-group" id="accordion">

    <liclass="list-group-item">


      {{ x.name + ', ' + x.desc }}

    </li>

    <div  ng-repeat="x in pitches" class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          {{ x.name }}
        </h4>
      </div>
      <div id="collapseOne" class="panel-collapse collapse in">
        <div class="panel-body">
          <p> {{ x.desc }} </p>
        </div>
      </div>
    </div>


  </div>

</section>