<section class="section container-fluid">
  <div class="scrollable">
    <div class="scrollable-content section">
      <legend>Track Presentation Live</legend>

        <div class="live-title">
          <h2>HackForward</h2>
        </div>

        <div class="live-category">
          <h4>Innovation</h4>
        </div>

        <div class="live-description">
          <h3>A set of tools for social entrepreneurs and bootstrappers to find each other and explore working together at Hackathons (and later online). Key pain points: improving team formation at pitch [this hackathon's goal], improving networking after presentation, keeping ideas alive across hackathons.</h3>
        </div>
      </div>
    </div>
</section>
