<section class="section container-fluid">
  <h1 class="page-header">Track the current presentation</h1>


    <ui-switch  ng-model="invoice.paid"></ui-switch>

    <div class="carousel">
        <div class="carousel-inner">
            <div class="carousel-item"

                asdasdasd
            </div>
            <div class="carousel-item">

                asdasd
            </div>
            <div class="carousel-item">

                asdsad
            </div>
        </div>
    </div>
</section>